/* иконочный шрифт */
@font-face {
  font-family: 'symbols-technomart';
  font-weight: normal;
  font-style: normal;

  src: url('../font/symbols-technomart.eot?23527613');
  src: url('../font/symbols-technomart.eot?23527613#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?23527613') format('woff'),
       url('../font/symbols-technomart.ttf?23527613') format('truetype'),
       url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;

  width: 1em;
  margin-right: .2em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  speak: none;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

/* Анимация */
/* Плавное появление стрелок-переключателей в слайде */
@keyframes arrow-slide {
  0% {opacity: 0;}
  1% {opacity: 1;}
  100% {opacity: 1;}
}

/* Плавная смена блоков на товаре */
@keyframes soft-opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

html,
body {
  margin: 0;
  padding: 0;

  color: #000;
  background: #fff;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

body {
  position: relative;

  min-width: 960px;
}

/* Небольшая плавность и красивость */
:hover,
:hover i {
  transition: 300ms ease;
}


.clearfix::after {
  display: table;
  clear: both;

  content: '';
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2, h3, p {
  overflow: hidden;

  max-width: 940px;
}

.main-header {
  background: #f1f5f7;
}

.top-menu {
  max-height: 42px;
  margin-bottom: 45px;

  color: #fff;
  background: #293449;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.top-menu ul,
.top-menu li {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.top-menu li {
  position: relative;

  display: inline-block;

  vertical-align: top;

  font-size: 17px;
  line-height: 18px;
}

.top-menu a {
  display: inline-block;

  width: 150px;
  height: 20px;
  padding: 11px 0;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #fff;
}

.top-menu .logo {
  width: 220px;
  padding: 11px 0;

  text-transform: uppercase;

  background: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.bookmark a,
.basket a {
  width: 120px;
  padding-left: 30px;
}

.bookmark i,
.basket i {
  position: absolute;
  left: 18px;

  opacity: .3;
}

.form-search {
  position: relative;

  width: 270px;
}

.form-search input {
  width: 220px;
  height: 20px;
  padding: 11px 0;
  padding-left: 50px;

  color: #fff;
  border: none;
  outline: none;
  background: transparent;
}

.form-search label::before {
  position: absolute;
  top: 12px;
  left: 18px;

  display: inline-block;

  content: '🔍';

  opacity: .3;
  color: #fff;

  font-family: "symbols-technomart";
}

/* Стилизация placeholder */
input[type="search"]::-webkit-input-placeholder {
  color:#fff;
}
/* Firefox 19+ */
input[type="search"]::-moz-placeholder {
  opacity: 1;
  color:#fff;
}
/* Firefox 18- */
input[type="search"]:-moz-placeholder {
  color:#fff;
}
input[type="search"]:-ms-input-placeholder {
  color:#fff;
}

/* Кастомизация .top-menu */
.top-menu .logo:hover {
  background: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.top-menu .logo:active {
  background: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.form-search:hover,
.bookmark:hover,
.basket:hover {
  background: #212a3a;
  /*opacity: 1;*/
}

.bookmark:hover i,
.basket:hover i {
  opacity: 1;
}

.bookmark:active,
.basket:active {
  opacity: .6;
  background: #161d29;
}

.bookmark:active i,
.basket:active i {
  opacity: .5;
}

.top-menu .order {
  background: #63a63e;
}

.top-menu .order:hover {
  background: #5fbb2d;
}

.top-menu .order:active {
  opacity: .6;
  background: #518534;
}

.form-search:hover label::before {
  transition: 300ms

  opacity: 1;
}

.form-search input:focus {
  transition: 300ms ease-in;

  color: #000;
  background: #fff;
}

.search:focus + label::before {
  transition: 300ms ease-in;

  opacity: 1;
  color: #f00;
}

.js-bookmark,
.js-basket,
.js-bookmark:hover,
.js-basket:hover{
  background: #ee3643;
}

/* MAIN-HEADER > MIDDLE-MENU */
.main-header .middle-menu {
  margin-bottom: 45px;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
}

.middle-menu .text {
  float: left;

  width: 190px;
  margin-left: 53px;

  color: #ee3643;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.middle-menu .text-p {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.middle-menu .contact {
  float: left;

  min-width: 220px;
  margin-left: 80px;
}

.contact .phone {
  margin-bottom: 10px;
  padding: 10px 0;

  text-align: center;

  color: #e9292a;
  border: 3px solid  #fff;

  font-size: 21px;
  line-height: 21px;
}

.contact i {
  color: #b7bfc8;
}

.contact .address {
  text-align: center;

  color: #32425c;

  font-size: 16px;
  line-height: 18px;
}

.middle-menu .user-block {
  float: right;

  max-width: 300px;
}

.user-login .btn {
  display: inline-block;

  max-width: 150px;
  height: 21px;
  padding: 12px 0;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #000;
  background: #fff;

  font-size: 21px;
  line-height: 21px;
}

.user-login .btn-enter {
  width: 120px;
  margin-right: 10px;
}

.btn-enter i {
  color: #c5c5c5;
}

.user-login .btn-reg {
  width: 150px;
}

.user-profile {
  display: none;

  width: 300px;
}

.user-profile__block {
  height: 45px;
  margin-bottom: 8px;

  background: #fff;
}

.block__link {
  display: inline-block;

  padding-top: 12px;

  vertical-align: top;
  text-decoration: none;

  color: #000;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 21px;
  line-height: 22px;
}

.block__link i {
  vertical-align: top;

  color: #c5c5c5;

  font-size: 18px;
}

.block__link .icon-logout {
  font-size: 22px;
}

.block__link--profile-enter i {
  padding: 0 15px;
}

.block__link--logout {
  float: right;

  padding-right: 10px;
}

.block__link:hover i {
  color: #32425c;
}

.block__link:active {
  opacity: .3;
  color: #000;
}

.user-profile__link {
  position: relative;

  padding: 0 18px;

  color: #32425c;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.user-profile__link:not(:last-child)::after {
  position: absolute;
  top: 8px;
  right: 0;

  width: 4px;
  height: 4px;

  content: '';

  border-radius: 50%;
  background: #32425c;
}

.user-profile__link:hover {
  color: #ee3643;
}

.user-profile__link:active {
  opacity: .3;
  color: #32425c;
}

/*******************************************************************************
JS-class for user-block
*******************************************************************************/
.js-user-login {
  display: none;
}

.js-user-profile {
  display: block;
}

/* Стилизация кнопок */
.user-login .btn:hover {
  color: #ee3643;
}

.btn-enter:hover i {
  transition: 200ms;

  color: #32425c;
}

.user-login .btn:active {
  color: #c5c5c5;
  color: rgba(0,0,0,.3);
}

.btn-enter:active i {
  color: #c5c5c5;
}

/* main-header bottom-menu */
.main-header .bottom-menu {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.main-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.main-menu li {
  display: inline-block;

  vertical-align: top;

  color: #fff;
  border-bottom: 5px solid  #293449;
  background: #32425c;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 0;
}

.main-menu li:first-of-type {
  padding-left: 25px;
}

.main-menu li:last-of-type{
  padding-right: 25px;
}

.main-menu a {
  display: inline-block;

  height: 15px;
  padding: 20px 30px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #fff;
  box-shadow: 0 5px 0 0 #293449;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

}

.main-menu a:hover {
  background: #293449;

}

.main-menu a:active {
  color: #a1a4a8;
  color: rgba(255,255,255,.5);
  background: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

/* Контент страницы */
.top-content {
  margin-bottom: 30px;
}

.top-item {
  position: relative;

  float: left;

  width: 300px;
  height: 123px;
  margin-bottom: 20px;

  color: #fff;
  background: #f00;

  font-family: 'Cuprum', 'Arial', sans-serif;
}

.top-item-3,
.top-item-5,
.top-item-6 {
  float: right;
}

.top-item h3 {
  margin-bottom: 15px;
  margin-left: 25px;
  /*padding-top: 25px;*/

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.top-item a {
  display: inline-block;

  width: 135px;
  margin-left: 25px;
  padding: 12px 0;

  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 5px;
  background: rgba(0,0,0,.1);

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.top-item a:hover {
    background: rgba(0,0,0,.2);
}

.top-item a:active {
    background: rgba(0,0,0,.3);
}

.top-item .sprite {
  position: absolute;
  top: 25px;
  left: 190px;

  width: 80px;
  height: 80px;

  background: url('../img/sprite.png') no-repeat center;
}

.top-item-1 {
  background: #f6b22d;
}

.top-item-1 .sprite {
  position: absolute;
  top: 31px;
  left: 213px;

  width: 44px;
  height: 65px;

  background-position: -10px -10px;
}

.top-item-1::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  content: '';

  background: url('../img/new.png') no-repeat;
}

.top-item-2 {
  margin-left: 20px;

  background: #4aafde;
}

.top-item-2 .sprite {
  position: absolute;
  top: 33px;
  left: 197px;

  width: 75px;
  height: 61px;

  background-position: -74px -10px;
}

.top-item-3 {
  background: #cc79d1;
}

.top-item-3 .sprite {
  position: absolute;
  top: 31px;
  left: 191px;

  width: 78px;
  height: 62px;

  background-position: -74px -91px;
}

.top-item-5 {
  background: #85d179;
}

.top-item-5 .sprite {
  position: absolute;
  top: 26px;
  left: 196px;

  width: 59px;
  height: 72px;

  background-position: -10px -173px;
}

.top-item-6 {
  background: #f6b22d;
}

.top-item-6 .sprite {
  position: absolute;
  top: 32px;
  left: 191px;

  width: 78px;
  height: 63px;

  background-position: -89px -173px;
}

.top-slider {
  position: relative;

  width: 620px;
  height: 266px;
  /*margin-bottom: 50px;*/
}

.top-slider h3 {
  margin-bottom: 5px;

  text-transform: uppercase;

  font-size: 36px;
  line-height: 36px;
}

.top-slider p {
  margin: 0;
  margin-left: 25px;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.top-slider .btn {
  position: absolute;
  bottom: 22px;
  left: 0;

  width: 195px;

  background: #ee3643;
}

.index-main .btn:hover,
.index-catalog .btn:hover {
  background: #ca2c37;
}

.index-main .btn:active,
.index-catalog .btn:active {
  background: #ba2732;
}

.top-slider-slides {
overflow: hidden;
}

.top-slider-item {
display: none;
}

.top-slider input[type='radio'] {
  display: none;
}

.top-slider-controls {
  position: absolute;
  bottom: 25px;
  left: 50%;

  width: 80px;
  height: 30px;
  margin-left: -40px;

  text-align: center;
}

.top-slider-controls label {
  display: inline-block;

  width: 6px;
  height: 6px;
  margin-right: 5px;

  cursor: pointer;
  vertical-align: middle;

  border: 2px solid  #fff;
  border-radius: 50%;
  background: #fff;
}

#top-btn-1:checked ~ .top-slider-controls label[for='top-btn-1'],
#top-btn-2:checked ~ .top-slider-controls label[for='top-btn-2'] {
  background: #ee3643;
}

#top-btn-1:checked ~ .top-slider-slides .top-slider-item:nth-child(1) {
  display: block;
}

#top-btn-2:checked ~ .top-slider-slides .top-slider-item:nth-child(2) {
  display: block;
}


.top-slider:hover .top-slider-arrow label::before {
  position: absolute;
  top: 0;
  left: 0;

  height: 38px;
  padding: 114px 20px;

  content: '\3c';
  cursor: pointer;
  transition: 15s;
  animation: arrow-slide 60s ease-in infinite forwards;

  font-family: "symbols-technomart";
  font-size: 45px;
}

.top-slider:hover .top-slider-arrow label::after {
  position: absolute;
  top: 0;
  right: 0;

  height: 38px;
  padding: 114px 20px;

  content: '\3e';
  cursor: pointer;
  animation: arrow-slide 60s ease-in infinite forwards;

  font-family: "symbols-technomart";
  font-size: 45px;
}

.pop-title {
  float: left;

  width: 100%;
  margin-bottom: 20px;

  text-transform: uppercase;

  background: #f7f3ec;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
}

.pop-title h2 {
  float: left;

  margin: 0;
  padding: 30px 30px;

  color: #32425c;

  font-size: 30px;
  line-height: 30px;
}

.pop-title .btn {
  float: right;

  margin: 25px 25px;
  padding: 12px 60px;

  text-decoration: none;

  color: #fff;
  border-radius: 5px;
  background: #ee3643;

  font-size: 14px;
  line-height: 18px;
}

.pop-item,
.catalog-item {
  position: relative;

  float: left;

  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.pop-item:nth-of-type(4n+1) {
  margin-right: 0;
}

.pop-content-1 .pop-item,
.catalog-item {
  width: 218px;
  height: 316px;

  border: 1px solid #e5e5e5;
}

.pop-content-1 .pop-item:last-child::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  content: '';

  background: url("../img/new.png") no-repeat;
}

.pop-content-2 {
  margin-bottom: 85px;
}

.pop-content-2 .pop-item {
  width: 218px;
  height: 143px;

  border: 1px solid #e5e5e5;
}

.pop-item-head,
.catalog-item-head {
  position: relative;

  width: 218px;
  height: 170px;
}

.pop-item-head img,
.catalog-item-head img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.pop-item h3,
.catalog-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 25px;

  color: #000;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.pop-item span,
.catalog-item span {
  text-decoration: line-through;

  color: #999;
}

.pop-item .btn,
.catalog-item .btn {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 42px;

  display: inline-block;
  /*width: 100px;*/

  padding: 10px 0;
  padding-right: 35px;
  padding-left: 45px;

  text-decoration: none;

  color: #fff;
  border-radius: 5px 0 0 5px;
  background: #ee3643;
}

.pop-item .btn::after,
.catalog-item .btn::after {
  position: absolute;
  z-index: -1;
  top: 5px;
  right: -13px;

  content: '';
  transform: rotate(45deg);

  border: 14px solid #ee3643;
  border-radius: 2px;
}

.pop-item .btn:hover::after,
.catalog-item .btn:hover::after {
  transition: 300ms ease;

  border-color: #ca2c37;
}

.pop-item .btn:active::after,
.catalog-item .btn:active::after {
  transition: 300ms ease;

  border-color: #ba2732;
}

.pop-content-2 img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.pop-content-2 .pop-item a {
  display: inline-block;

  width: 100%;
  height: 100%;

  vertical-align: top;
}

.btn-hover {
  position: relative;

  display: inline-block;

  width: 135px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 5px;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.btn-buy {
  margin-top: 45px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 7px;

  border-bottom: 3px solid  #367315;
  background: #63a63e;
}

.btn-bookmark {
  width: 129px;
  padding: 7px 0;

  color: #32425c;
  border: 3px solid  #63a63e;
}

.icon-basket {
  position: absolute;
  top: 10px;
  left: 13px;

  opacity: .3;
}

.btn-buy:hover {
  background: #5fbb2d;
}

.btn-buy:hover .icon-basket {
  opacity: 1;
}

.btn-buy:active {
  background: #518534;
}

.btn-buy:active .icon-basket {
  opacity: 1;
}

.btn-bookmark:hover {
  border-color: #32425c;
}

.btn-bookmark:active {
  opacity: .3;
  border-color: #32425c;
}

.hover {
  display: none;
}

/* Наведение на товар и производителя */
.pop-item:hover,
.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.pop-item:hover .pop-item-head img,
.catalog-item:hover .catalog-item-head img {
  display: none;

  animation: soft-opacity 500ms ease;
}

.pop-item:hover .hover,
.catalog-item:hover .hover {
  display: block;

  animation: soft-opacity 500ms ease;
}

.pop-content-2 .pop-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.pop-content-2 a:active img {
  opacity: .3;
}

.service-content-bg {
  margin-bottom: 82px;

  background: #f2f6f8;
}

.service-content h2 {
  margin-bottom: 35px;
  padding-top: 68px;

  text-transform: uppercase;

  color: #000;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.service-content p {
  width: 430px;
  margin-bottom: 70px;

  color: #000;

  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

.service-slider input[type="radio"] {
  display: none;
}

.service-controls {
  position: relative;

  float: left;

  width: 240px;
}

.service-controls ul {
  margin: 0;
  padding: 0;

  list-style: none;

  color: #fff;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.service-controls ul::after {
  position: absolute;
  top: -44px;
  right: 0;

  width: 10px;
  height: 272px;

  content: '';

  background: url('../img/sprite.png') no-repeat;
  background-position: -187px -10px;
}

.service-controls label {
  display: inline-block;

  width: 217px;
  height: 45px;
  padding-top: 14px;
  padding-left: 23px;

  cursor: pointer;
  vertical-align: top;

  border-top: 1px solid  #405069;
  border-bottom: 1px solid  #293449;
  background: #32425c;
}

.service-controls label:hover {
  background: #293449;
}

.service-slides {
  float: right;
  overflow: hidden;

  width: 700px;
  height: 285px;
}

.service-slide-content {
  position: relative;
  z-index: 5;

  width: 700px;
  height: 285px;
}

.service-slide-content h2 {
  margin: 0;
  padding: 0;

  color: #32425c;

  font-size: 36px;
  line-height: 36px;
}

.service-slide-content p {
  width: 350px;
  margin-bottom: 33px;
}

.service-slide-content .left-column {
  float: left;

  margin-left: 80px;
}

.left-column .btn {
  display: inline-block;

  padding: 13px 44px;

  text-decoration: none;

  color: #fff;
  border-radius: 5px;
  background: #ee3643;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.service-slide-content .right-column {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;

  float: right;
}

.service-slide-content {
  display: none;
}

#service-btn-1:checked ~ .service-controls label[for="service-btn-1"],
#service-btn-2:checked ~ .service-controls label[for="service-btn-2"],
#service-btn-3:checked ~ .service-controls label[for="service-btn-3"] {
  color: #32425c;
  border-color: #fff;
  background: #fff;
}

#service-btn-1:checked ~ .service-slides .service-slide-content:nth-child(1) {
  display: block;
}

#service-btn-2:checked ~ .service-slides .service-slide-content:nth-child(2) {
  display: block;
}

#service-btn-3:checked ~ .service-slides .service-slide-content:nth-child(3) {
  display: block;
}

.about-content {
  margin-bottom: 85px;
}

.about-content h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  text-transform: uppercase;

  color: #000;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.about-content p {
  margin-bottom: 30px;

  color: #000;

  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

.about-content .btn {
  /*position: absolute;
  bottom: 0;*/
  display: inline-block;

  padding: 12px 0;

  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 5px;
  background: #ee3643;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.about-left-column {
  position: relative;

  float: left;

  width: 550px;
  min-height: 375px;
}

.about-left-column ul {
  margin: 0;
  padding: 0;

  list-style: none;

  color: #000;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.about-left-column li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;
}

.about-left-column li::before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;
  margin-top: -1px;

  content: '';

  background: #fb565a;
}

.about-left-column .btn {
  padding: 12px 40px;
}

.about-left-column p:last-of-type {
  margin-bottom: 15px;
}

.about-right-column {
  position: relative;

  float: right;

  width: 300px;
  min-height: 375px;
}

.about-right-column .map {
  margin-bottom: 20px;
}

.about-right-column .btn {
  width: 100%;

  text-align: center;
}


/*******************************************************************************
Catalog Style
*******************************************************************************/
.breadcrumbs {
  margin: 0;
  margin-top: -35px;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;

  padding-right: 40px;

  vertical-align: top;
}

.breadcrumbs a {
  text-decoration: none;

  color: #000;
}

.breadcrumbs .icon-home {
  color: #c1c6ce;

  font-size: 16px;
  line-height: 18px;
}

.breadcrumbs li:not(.breadcrumbs__current)::after {
  position: absolute;
  top: 0;
  right: 17px;

  content: '\3e';

  color: #c1c6ce;

  font-family: "symbols-technomart";
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs a:hover,
.breadcrumbs .icon-home:hover {
  color: #ee3643;
}

.catalog-title {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;

  background: #f2f6f8;
}

.catalog-title h1 {
  padding-top: 33px;
  padding-left: 30px;

  text-transform: uppercase;

  color: #32425c;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.sub-title {
  float: left;

  height: 38px;
  margin-bottom: 20px;

  text-transform: uppercase;

  color: #000;
  border-radius: 5px;
  background: #f7f3ec;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sub-title--filter {
  width: 220px;
}

.sub-title--filter h3 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;

  font-weight: 400;
}

.sub-title--sort {
  width: 700px;
  margin-left: 20px;
}

.sort {
  margin: 0;
  padding: 0;
  padding-left: 20px;

  list-style: none;
}

.sort li {
  display: inline-block;

  padding-top: 10px;

  vertical-align: top;
}

.sort li:first-child {
  padding-right: 140px;
}

.sort__link {
  margin-right: 65px;

  text-decoration: none;

  color: #c4c1bb;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort__link:last-child {
  margin-right: 50px;
}

.sort .sort__arrow {
  padding-top: 8px;
}

/* Убираем странное подчеркивание иконочного шрифта в IE-11  */
.sort__arrow a {
  text-decoration: none;
}

.arrow-icon {
  color: #c4c1bb;
  color: rgba(0, 0, 0, 0.3);

  font-size: 23px;
  line-height: 20px;
}

.sort__link:hover,
.arrow-icon:hover {
  color: #000;
}

.sort__link:hover {
  border-bottom-style: solid;
}

.sort__link--active,
.sort__arrow--active {
  color: #ee3643;
}

.sort__link--active {
  border: none;
}

.sort__link--active:hover,
.sort__arrow--active:hover {
  cursor: default;

  color: #ee3643;
  border: none;
}

.filter-content {
  float: left;

  width: 220px;
}

.filter-content__form {
  text-transform: uppercase;

  color: #000;

  font-size: 14px;
  line-height: 20px;
}

.filter {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 25px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}

.filter:last-child {
  border: none;
}

.filter legend {
  position: relative;

  width: 100%;
  margin-bottom: 20px;

  color: #000;

  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.filter-arrow {
  position: absolute;
  top: 2px;
  right: 0;

  cursor: pointer;
  transition: 300ms;

  color: #c1c1c1;

  font-size: 28px;
  line-height: 20px;
}

.filter-arrow--down {
  display: none;
}

.filter-arrow:hover {
  color: #ee3643;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin-bottom: 20px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.scale-controls {
  position: relative;

  width: 100%;
  height: 80px;
  margin-bottom: 10px;

  border-radius: 0 0 5px 5px;
  background: #f7f3ec;
}

.scale-controls__scale {
  position: absolute;
  top: 50%;
  left: 20px;

  width: 180px;
  height: 2px;
  margin-top: -1px;

  background: #d7dcde;
}

.scale-controls__scale--bar {
  height: 2px;

  background: #00ca74;
}

.scale-controls__toggle {
  position: absolute;
  top: 50%;
  left: 20px;

  width: 4px;
  height: 4px;
  margin-top: -10px;

  cursor: pointer;

  border: 8px solid  #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 0 rgba(0, 1, 1, 0.1);
}

.scale-controls__toggle:hover {
  background: #5e5e5e;
}

.scale-controls__toggle--max {
  left: 160px;
}

.price-controls__price--min {
  float: left;
}

.price-controls__price--max {
  float: right;
}

.price-controls__price input {
  width: 95px;
  padding: 10px 0;

  text-align: center;

  border: none;
  border-radius: 5px;
  outline: none;
  background: #f7f3ec;

  font-size: 16px;
  line-height: 18px;
}

.filter--checkbox input[type="checkbox"],
.filter--radio input[type="radio"] {
  display: none;
}

.filter--checkbox input + label,
.filter--radio input + label {
  position: relative;

  display: inline-block;

  padding-left: 35px;

  cursor: pointer;
  vertical-align: top;
}

.filter--checkbox input + label::before,
.filter--radio input + label::before {
  position: absolute;
  top: 0;
  left: 0;

  content: '';

  color: #c1c1c1;

  font-family: "symbols-technomart";
  font-size: 28px;
}

.filter--checkbox input + label::before {
  content: '\2610';
}

.filter--radio input + label::before {
  content: '\25cb';
}

.filter--checkbox input:checked + label::before {
  content: '\2611';
}

.filter--radio input:checked + label::before {
  content: '\25cf';
}

.catalog-content {
  float: right;

  width: 700px;
  margin-bottom: 30px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  clear: both;

  max-width: 450px;
  margin-bottom: 60px;
  margin-left: 240px;

  text-transform: uppercase;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.paginator__link {
  display: inline-block;

  width: 38px;
  margin-right: 10px;
  padding: 9px 0;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #000;
  border: 1px solid  #e5e5e5;
  border-radius: 5px;
  background: transparent;
}

.paginator__link--next {
  width: 138px;
}

.paginator__link:hover {
  border-color: #bdc6ca;
}

.paginator__link:active {
  border-color: #ee3643;
}

.paginator__link--current,
.paginator__link--current:hover,
.paginator__link--current:active {
  color: #fff;
  border-color: #ee3643;
  background: #ee3643;
}

.about-text--bg {
  background: #f2f6f8;
}

.about-text {
  padding: 50px 0;
}

.about-text h2 {
  color: #000;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}


/*******************************************************************************
Footer Style
*******************************************************************************/

.main-footer {
  color: #fff;

  font-family: 'cuprum', 'arial', sans-serif;
  font-weight: 400;
}

.menu-footer-bg {
  min-height: 193px;

  background: #32425c;
}

.menu-footer {
  float: left;

  font-size: 18px;
  line-height: 24px;
  /*background: #32425c;*/
}

.menu-footer a {
  text-decoration: none;

  color: #fff;
}

.footer-left-column {
  float: left;

  width: 320px;
}

.footer-left-column .logo {
  display: inline-block;

  margin-bottom: 30px;
  padding: 16px 41px;

  border-bottom: 5px solid  #b52933;
  background: #ee3643;

  font-size: 30px;
  line-height: 30px;
}

.footer-left-column .logo:hover {
  border-bottom: 5px solid  #9a212a;
  background: #ca2c37;
}

.footer-left-column .logo:active {
  border-bottom: 5px solid  #8e1e26;
  background: #ba2732;
}

.footer-left-column p {
  margin: 0;
  padding: 0;
}

.footer-right-column {
  float: right;

  width: 620px;
  margin-top: 22px;
}

.footer-right-column ul {
  float: right;

  list-style: none;
}

.footer-right-column li {
  display: inline-block;
}

.footer-right-column li:not(:last-of-type) {
  margin-right: 50px;
}

.footer-menu-bottom a {
  color: #ffd180;
}

.footer-menu-top a:hover,
.footer-menu-bottom a:hover {
  text-decoration: underline;
}

.footer-menu-top a:active,
.footer-menu-bottom a:active {
  opacity: .5;
}

.footer-bg {
  min-height: 107px;

  background: #293449;
}

.footer {
  min-height: 107px;

  font-size: 16px;
  line-height: 18px;
}

.footer p {
  margin: 0;
  padding: 0;
}

.copyright {
  float: left;

  width: 320px;
  margin-top: 40px;
}

.social {
  float: left;

  width: 160px;
  margin-top: 35px;
  margin-left: 70px;
}

.social-btn {
  position: relative;

  display: inline-block;

  width: 41px;
  height: 41px;

  vertical-align: top;
  text-decoration: none;

  color: #fff;
  border-radius: 50%;
  background: #212a3a;

  font-size: 18px;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.icon-vk {
  margin-left: -1px;
}

.social-btn:hover,
.social-btn:active {
  background: #ee3643;
}

.footer .contacts {
  float: right;

  max-width: 320px;
  margin-top: 40px;
}

.contacts .left-column {
  float: left;

  margin-right: 65px;
}

.contacts .right-column {
  float: right;
}

.contacts a {
  text-decoration: none;

  color: #ffd180;
}

.contacts a:hover {
  text-decoration: underline;
}

.contacts a:active {
  transition: none;
  text-decoration: none;

  color: #ee3643;
}

/*******************************************************************************
 Pop-up
 ******************************************************************************/
.pop-up {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;

  display: none;

  width: 620px;
  height: 423px;
  margin-top: -212px;
  margin-left: -310px;

  color: #000;
  border-top: 7px solid  #ee3643;
  background: #fff;
  box-shadow: 0 20px 40px 0 #000101;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.pop-up-content {
  height: 231px;
  margin: 0 80px;
  margin-top: 50px;
  margin-bottom: 37px;
}

.pop-up-content .column-left {
  float: left;

  width: 220px;
}

.pop-up-content .column-right {
  float: right;

  width: 220px;
}

.pop-up-content label:last-child {
  float: left;
}

.pop-up-content input {
  width: 201px;
  margin-top: 13px;
  margin-bottom: 22px;
  padding: 8px 0;
  padding-left: 15px;

  border: 2px solid  #d7dcde;
  border-radius: 5px;
  outline: none;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.pop-up-content textarea {
  width: 440px;
  height: 80px;
  margin-top: 13px;
  padding: 8px 15px;

  resize: none;

  border: 2px solid  #d7dcde;
  border-radius: 5px;
  outline: none;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.pop-up-footer {
  height: 112px;

  background: #f1f1f1;
}

.pop-up-footer button {
  width: 220px;
  margin-top: 37px;
  padding: 10px 0;

  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #ee3643;

  font-size: 14px;
}

.pop-up .btn-submit {
  margin-left: 80px;
}

.pop-up .btn-cancel {
  margin-left: 20px;

  color: #000;
  background: #fff;
}

.pop-up input:hover,
.pop-up textarea:hover {
  border-color: #bababa;
}

.pop-up input:focus,
.pop-up textarea:focus {
  border-color: #a9a9a9;
}

.btn-submit:hover {
  background: #ca2c37;
}

.btn-submit:active {
  background: #ba2732;
}

.btn-cancel:hover {
  background: #ddd;
}

.btn-cancel:active {
  background: #d1d1d1;
}

.pop-cart {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;

  display: none;

  width: 620px;
  height: 275px;
  margin-top: -191px;
  margin-left: -310px;

  border-top: 7px solid  #ee3643;
  background: #fff;
  box-shadow: 0 20px 40px #293449;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.pop-cart__text {
  padding-top: 68px;
  padding-bottom: 74px;

  background: url('../img/add-basket.png') no-repeat 80px 48px;
}

.pop-cart__text h2 {
  margin: 0;
  padding-left: 35px;

  text-align: center;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.pop-cart__btn {
  height: 103px;

  background: #f1f1f1;
}

.pop-btn {
  display: inline-block;

  width: 220px;
  margin-top: 37px;
  padding: 10px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #000;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f00;

  font-family: 'cuprum', 'arial', sans-serif;
  font-size: 14px;
  line-height: 18px;;
}

.pop-btn--order {
  margin-left: 80px;

  color: #fff;
  background: #ee3643;
}

.pop-btn--close {
  margin-left: 20px;

  background: #f1f1f1;
}

.pop-btn--order:hover {
  background: #ca2c37;
}

.pop-btn--order:active {
  background: #ba2732;
}

.pop-btn--close:hover {
  background: #ddd;
}

.pop-btn--close:active {
  background: #d1d1d1;
}


.js-pop-up-show {
  display: block;
}

.js-pop-cart-show {
  display: block;
}


/*******************************************************************************
JS-class for filter show/hide
*******************************************************************************/
.js-filter--hide {
  display: none;
}

.js-arrow--show {
  display: block;
}

.js-arrow--hide {
  display: none;
}

.js-filter-animation {
  animation: soft-opacity 300ms ease-in-out;
}
