@keyframes gentle {
  from { opacity: 0; }
  to { opacity: 1; }
}


html,
body {
  /*фон*/
  min-width: 900px;  /*обнуляем отступы*/
  margin: 0;
  padding: 0;

  color: #283136;
  background-color: #fff;
  /*задаем общий шрифт*/

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

/*задаем контейнер контента с минимальной шириной и расположением по центру*/
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  /*width: auto;*/
  margin-bottom: 80px;

  background: #eee;
}

/*заголовок магазина*/
.title-header {
  width: 700px;
  margin: 0 auto;
  /*height: 150px;*/
  padding-bottom: 85px;
}

.title-header h1 {
  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  font-size: 40px;
  font-weight: 100;
  line-height: 1.2;
}

.logo {
  float: left;

  margin-top: 25px;

  vertical-align: top;
}

.main-nav {
  float: left;

  width: 430px;
  margin-top: 55px;
  margin-bottom: 50px;
  margin-left: 180px;
}

/*горизонтальное меню*/
.main-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}

.main-nav li {
  display: inline-block;

  margin-right: 40px;

  vertical-align: top;;
}

.basket {
  float: right;

  max-width: 100px;
  margin-top: 55px;
}

/*иконочный шрифт*/
.basket a::before  {
  display: inline-block;

  padding-right: 10px;

  content: '\62';
  text-align: center;
  text-transform: none;

  opacity: .3;

  font-family: "symbols-nerds";
  font-size: 16px;
  line-height: 8px;
}

/*поведение пунктов меню*/
.menu a {
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;

  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.menu a:hover,
.menu a:hover::before {
  opacity: 1;
  color: #fb565a;
}

.menu a:active,
.menu a:active::before {
  opacity: .3;
  color: #000;
}

.menu .active a {
  border-bottom: 2px solid #fb565a;
}

/*при нахождение на странице убираем эффекты на этом меню*/
.menu .active a:hover,
.menu .active a:active {
  opacity: 1;
  color: #000;
}

.menu .active a:hover::before,
.menu .active a:active::before {
  opacity: .3;
  color: #000;
}

/*общий стиль кнопок*/
.btn {
  display: inline-block;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 5px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

/*СЛАЙДЕР*/
.slider {
  position: relative;

  float: left;

  width: 880px;
  max-height: 320px;
}

/*скрываем отображение радио-кнопок*/
.slider input[type="radio"] {
  display: none;
}

/*скрываем контент слайда, который вылазиент за рамки контейнера*/
.slider-inner {
  overflow: hidden;
}

/*ширина слайда, располагает все слайды горизонтально*/
.slider-slides {
  width: 300%;
}

/*задаем размер поля слайдов*/
.slider-slides .slider-item {
  float: left;
}

/*расположение кнопок переключения слайдов*/
.slider-controls {
  position: absolute;
  z-index: 10;
  bottom: 90px;
  left: 330px;

  width: 200px;

  text-align: center;
}

/*стиль кнопок-переключателей*/
.slider-controls label {
  display: inline-block;

  width: 4px;
  height: 4px;
  margin-right: 9px;

  cursor: pointer;

  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}

/*цвет отмеченного переключателя*/
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}

/*расположение контента слайда*/
.slider-item {
  width: 880px;
  height: 310px;
}

.slider-item .column-left {
  float: left;

  width: 500px;
}

h2 {
  margin-bottom: 0;

  color: #000;

  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.column-left p {
  margin-bottom: 25px;
}

.column-left .btn {
  padding: 14px 70px;

  background-color: #fb565a;
}
.slider-item .column-right {
  float: right;

  max-width: 350px;
  margin-top: 15px;
}

.slider-item:last-child .column-right {
  position: absolute;
  top: -25px;
  right: 10px;
}

/*переключение слайдеров*/
#btn-1:checked ~  .slider-inner .slider-slides {
  transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-880px);
}
#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-1760px);
}

/*Тело сайта*/
h3 {
  text-transform: uppercase;

  color: #000;

  font-size: 18px;
  font-weight: 500;
  line-height: 30px;;
}

/*БЛОК-1 услуги*/
.index-content:first-child {
  margin-bottom: 60px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.index-content .content-item {
  float: left;

  width: 240px;
  margin-right: 80px;
}

.index-content .content-item:last-child {
  float: right;

  margin-right: 0;
}

.content-item p {
  margin-bottom: 25px;
}

/*стиль кнопки в main блоке*/
.index-content .btn {
  padding: 15px 40px;

  background-color: #fb565a;
}

.index-content .btn-2 {
  background-color: #00ca74;
}

.index-content .btn-3 {
  background-color: #efc84a;
}

/*БЛОК-2 о нас*/
.index-content {
  margin-bottom: 70px;
}

.content-about h1 {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  color: #000;

  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
}

.content-about ul {
  /*position: relative;*/
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-about li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 35px;
}

/*маркер списка с помощью псевдоэлемента*/
.content-about li::before {
  position: absolute;
  top: 50%;
  left: 0;

  display: inline-block;

  width: 25px;
  height: 2px;

  content: '';

  background-color: #fb565a;
}

.content-about .column-left {
  float: left;

  width: 560px;
}

.content-about .column-right {
  float: right;
}

.content-about img {
  margin-bottom: 24px;
}

/*БЛОК-3 партнеры*/
.index-content:last-child {
  margin-bottom: 85px;
  padding-top: 40px;
  padding-bottom: 20px;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.content-partn {
  padding: 0 10px;
}

.content-partn a {
  display: inline-block;
  /*line-height: 120px;*/

  margin-right: 120px;

  vertical-align: middle;

  opacity: .3;
}

.content-partn a:last-child {
  /*float: right;*/
  margin-right: 0;
}

.content-partn a:hover {
  opacity: 1;
}

/*ФИЛЬТРЫ МАГАЗИНА*/
.content-filter {
  float: left;

  width: 240px;
}

/*убираем верхний отступ у загаловков*/
.content-filter h3 {
  margin-top: 0;
}

.content-filter fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

/* Фильтр цены */
.range-filter {
  width: 240px;

  text-transform: uppercase;
}

.range-controls {
  position: relative;

  overflow: hidden; /* NOTE: контент не будет вылазить из блока */

  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;

  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  margin-top: 39px;

  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls {
  position: relative;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  text-align: center;

  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.price-controls .max-price {
  position: absolute;
  right: 0;
}

/* Кастомные checkbox и radio */
.content-filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.content-filter li {
  margin-bottom: 15px;
}

.content-filter input[type="radio"],
.content-filter input[type="checkbox"] {
  display: none;
}

.content-filter input + label {
  position: relative;

  display: inline-block;

  padding-left: 35px;

  cursor: pointer;
  vertical-align: top;

  color: #283136;

  line-height: 20px;
}

.content-filter input[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  content: '\25cb';
  vertical-align: top;
  text-transform: none;

  color: #c1c1c1;

  font-family: "symbols-nerds";
  font-size: 28px;
  line-height: 20px;
}

.content-filter input[type="radio"]:checked + label::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  content: '\25cf';
  vertical-align: top;
  text-transform: none;

  color: #c1c1c1;

  font-family: "symbols-nerds";
  font-size: 28px;
  line-height: 20px;
}

.content-filter input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  content: '\2610';
  vertical-align: top;
  text-transform: none;

  color: #c1c1c1;

  font-family: "symbols-nerds";
  font-size: 28px;
  line-height: 20px;
}

.content-filter input[type="checkbox"]:checked + label::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  content: '\2611';
  vertical-align: top;
  text-transform: none;

  color: #c1c1c1;

  font-family: "symbols-nerds";
  font-size: 28px;
  line-height: 20px;
}

/*предметы магазина*/
.content-catalog {
  float: right;

  width: 560px;
  /*margin: 0;
  padding: 0;*/
}

.sort {
  margin-bottom: 55px;
}

.sort ul {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sort li {
  display: inline-block;

  margin-right: 40px;
}

.sort span,
.sort a {
  text-decoration: none;
  text-transform: uppercase;

  color: #000;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.sort li.arrow {
  position: absolute;
  right: 0;

  margin-right: 0;
}

.arrow a::before {
  content: "\25bc";
  text-align: right;
  text-transform: none;

  color: #c1c1c1;
  /*display: inline-block;*/
  /*vertical-align: middle;*/

  font-family: "symbols-nerds";
  font-size: 23px;
  line-height: 20px;
}

.arrow a:last-child::before {
  content: "\25b2";
}

a.arrow-active::before {
  color: #00ca74;
}

.sort a:not(.arrow-up):not(.arrow-down) {
  opacity: .2;
  border-bottom: 1px dashed #00ca74;
}

.sort a:hover:not(.arrow-up):not(.arrow-down) {
  opacity: 1;
  border-bottom-style: solid;
}

.content-catalog .sort a:active,
.arrow a:active::before {
  opacity: 1;
  color: #000;
  border-bottom: 0;
}

.items__item {
  position: relative;

  float: left;

  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.items__item:last-child {
  margin-bottom: 60px;
}

.items__item:nth-child(2n) {
  margin-right: 0;
}

.items-head {
  width: 240px;
  height: 30px;

  border-radius: 5px 5px 0 0;
  background: #f1f1f1 url('../img/circle.png') no-repeat 12px 10px;
}

.items__item:hover .items-head {
  background: #797979 url('../img/circle-hover.png') no-repeat 12px 10px;
}

.describe {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 20px;

  display: none;

  width: 200px;
  height: 200px;

  animation: gentle 350ms ease-out;

  background: #fff;
}

.describe h3,
.describe p {
  text-align: center;

  line-height: 18px;
}

.describe h3 {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 18px;
}

.describe p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;

  font-size: 14px;
}

.describe .btn {
  display: inline-block;

  width: 140px;
  margin: 0 30px;
  padding: 10px 0;

  text-align: center;
  vertical-align: top;

  background: #fb565a;

  font-size: 18px;
  line-height: 18px;
}

.items__item:hover .describe {
  display: block;
}

.paginator {
  clear: both;

  max-width: 440px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  text-transform: uppercase;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.paginator a {
  display: inline-block;

  margin-right: 5px;
  padding: 10px 15px;

  text-decoration: none;

  color: #000;
  border-radius: 5px;
  background: #f1f1f1;
}

.paginator .next {
  padding: 10px 30px;
}

.paginator a:hover:not(.current) {
  border-color: #e5e5e5;
  background: #e5e5e5;
}

.paginator a:active:not(.current) {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.paginator .current {
  padding: 8px 13px;

  opacity: .9;
  border: 2px solid #f1f1f1;
  background: #fff;
}



/*ФУТЕР*/
.main-footer {}

/*карта*/
.block-map {
  position: relative;

  height: 416px;
  margin-bottom: 75px;

}

.block-map .map {
  position: absolute;
  top: 0;
  left: -160px;

  width: 1200px;
  height: 416px;
}

.block-map .contacts {
  position: absolute;
  z-index: 10;
  top: 90px;
  left: 0;

  width: 240px;
  height: 240px;

  background-color: #fff;
}

.contacts span {
  font-weight: 500;
}

.contacts p:first-child {
  margin-top: 25px;

  text-transform: uppercase;

  color: #000;

  line-height: 30px;
}

.contacts p {
  margin-left: 25px;

  color: #666;
}

.contacts .btn {
  margin-top: 10px;
  margin-left: 25px;
  padding: 10px 50px;

  background: #fb565a;
}

/*социалки*/
.social {
  height: 100px;
}

.social .social-vk,
.social .social-fb,
.social .social-insta {
  position: relative;

  float: left;

  margin-right: 25px;
}

.social-vk a,
.social-fb a,
.social-insta a {
  display: inline-block;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background: #e1e1e1;

  font-size: 0;
}

.social-vk a::before,
.social-fb a::before,
.social-insta a::before {
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;

  transform: translate(-50%, -50%);
  text-transform: none;

  color: #fff;

  font-family: "symbols-nerds";
  font-size: 23px;
  line-height: 16px;
}

.social-vk a::before {
  content: '\76';
}
.social-fb a::before {
  content: '\66';
}
.social-insta a::before {
  content: '📷';
}


.social-vk a:hover,
.social-fb a:hover,
.social-insta a:hover {
  background: #fb565a;
}

.social-vk a:active,
.social-fb a:active,
.social-insta a:active {
  background: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.social .social-insta {
  margin-right: 80px;
}

.social-title p {
  margin-top: 10px;
}

/*
В КОНЦЕ ПОТОМУ ЧТО Я КРИВО НАПИСАЛ СТИЛИ :)
  стиль кнопок при наведение и клике
*/
.btn:hover {
  background-color: #d6494d;
}
.btn-2:hover {
  background-color: #01a25e;
}
.btn-3:hover {
  background-color: #d6ae2c;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}
.btn-2:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}
.btn-3:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}

/* Всплывающая форма отзыва */
.modal-content {
  position: fixed;
  z-index: 100;
  top: 380px;
  left: 50%;

  display: none;

  width: 460px;
  margin-left: -315px;
  padding: 50px 85px;

  color: #000;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0,0,0, .75);

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.write-form input,
.write-form textarea {
  text-transform: uppercase;

  color: #000;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.line-1 {
  position: relative;
}

.line-1 .email-form {
  position: absolute;
  top: 0;
  right: 0;
}

.line-1 input {
  width: 186px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;

  border: 2px solid #d7dcde;
  border-radius: 5px;
  outline: none;
}

.write-form textarea {
  width: 426px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 15px;

  resize: none;

  border: 2px solid #d7dcde;
  border-radius: 5px;
  outline: none;
}

.write-form input:hover,
.write-form textarea:hover {
  border-color: #a2a9ac;
}

.write-form input:focus,
.write-form textarea:focus {
  border-color: #56bffb;
}

.write-form .btn {
  display: inline-block;

  width: 220px;
  padding: 10px 75px;

  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #fb565a;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.write-form .btn-close {
  margin-left: 16px;

  color: #000;
  background: #f1f1f1;
}

.write-form .btn:hover {
  background-color: #d6494d;
}

.write-form .btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.write-form .btn-close:hover {
  background-color: #e5e5e5;
}

.write-form .btn-close:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/* PopUp */

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-content-show {
  display: block;

  animation: show .6s;
}

@media screen and (max-width: 900px) {
  .map {
    max-width: 900px;
    margin-left: 150px;
  }
}
