:root {
  --fzHeadMob: 18px;

  /*Colors*/
  --blue: #81b3d2;
  --blueDark: #5496bd;
  --blackLight: #333;
  --grey: #f2f2f2;
  --red: #d22856;
  --black: #283645;
  --mainColor: #2196f3;
  --secColor: #1976D2;

  /* Media */
  --xsMax: 600px;
  --xsMin: 330px;
  --sm: 700px;
  --md: 1024px;
  --mdMin: 800px;
  --lg: 1200px;
}
