.svgSprite {
  svg {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  &_icon-cross {
    width: 23px;
    height: 22px;
  }

  &_text-welcome {
    width: 143px;
    height: 34px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      width: 188px;
      height: 45px;
      margin-bottom: 12px;
    }
  }

  &_text-gorgeous {
    width: 133px;
    height: 22px;
    margin-bottom: 60px;

    @media (min-width: 768px) {
      width: 175px;
      height: 29px;
      margin-bottom: 52px;
    }
  }

  &_text-sedona {
    width: 280px;
    height: 47px;
    margin-bottom: 70px;

    @media (min-width: 768px) {
      width: 457px;
      height: 78px;
      margin-bottom: 56px;
    }
  }

  &_text-canyon {
    width: 197px;
    height: 54px;

    @media (min-width: 768px) {
      width: 295px;
      height: 80px;
    }
  }

  &_icon-house, &_icon-gift, &_icon-burger {
    width: 38px;
    height: 38px;

    @media (min-width: var(--sm)) {
      width: 76px;
      height: 76px;
    }
  }

  &_icon-minus {
    width: 10px;
    height: 3px;
  }
  &_icon-plus {
    width: 10px;
    height: 10px;
  }

  &_icon-calendar {
    width: 20px;
    height: 22px;
  }

  &_icon-twitter, &_icon-facebook, &_icon-youtube {
    width: 20px;
    height: 20px;
  }

  &_logo-glukhanko, &_logo-htmlacademy {
    width: 26px;
    height: 32px;
  }
}