.link{
  &--btn {
    display: inline-block;
    width: 300px;
    padding: 12px 0;
    border: 3px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;

    @media (--tablet) {
      width: 93.666667%;
      padding: 15px 0;
      font-size: 18px;
      line-height: 1;
    }

    @media (--mobile) {
      width: 87.5%;
      line-height: 18px;
    }
  }
}