.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secColor);

  .copyright {
    padding: 20px 0;
    text-align: right;

    a {
      text-decoration: underline;
    }
  }
}