*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  min-width: 300px;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 16px;
  color: #F5F5F5;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;

  @media (--tablet) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (--mobile) {
    font-size: 24px;
    line-height: 29px;
  }
}

h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  
  @media (--tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  @media (--tablet) {
    font-size: 14px;
    line-height: 24px;
  }
}

.textBlack {
  color: var(--blackLight);
}

a {
  text-decoration: none;
  color: #f5f5f5;

  &:hover {
    text-decoration: underline;
  }
}

.linkBlue {
  color: var(--secColor);
  font-size: 14px;


  &:hover {
    text-decoration: underline;
    color: #1566b7;
  }
}

.wrap {
  @extend wrap;

  @media (max-width: 660px) {
    width: 100%;
  }

  @media (--tablet) {
    & { @extend %wrapTablet; }
  }

  @media (--mobile) {
    & { @extend %wrapMobile; }
  }
}

.hidden-xs {
  @media (max-width: 600px) {
    display: none;
  }
}

.hidden-sm {
  @media (max-width: 920px) {
    display: none;
  }
}

.hidden-md {
  @media (min-width: 921px) {
    display: none;
  }
}

.hidden-lg {
  @media (min-width: 800px) {
    display: none;
  }
}

.show-xs {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

.show-sm {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

/*.show-lg {*/
  /*display: none;*/
  /*@media (min-width: 1200px) {*/
    /*display: block;*/
  /*}*/
/*}*/

.show {
  display: block !important;
}

.inputCustom {
  justify-content: center;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 0;

  input[type=radio] {
    display: none;
  }

  label {
    @extend animation;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 14px;

    border: 3px solid #fff;
    border-radius: 50%;
    background: #bec2c7;

    &:first-of-type {
      margin-left: 0;
    }
  }

  input:checked + label {
    border-color: #283645;
    background: none;
  }
}