.svg-android-logo {
	width: 42.084px;
	height: 47.041px;
	fill: #a4c639;
}

.svg-apple-logo {
	width: 46.21px;
	height: 56.753px;
	fill: #fff;
}

.svg-facebook {
	width: 8.673px;
	height: 18.944px;
}

.svg-glukhanko {
	width: 25.988px;
	height: 29.922px;
}

.svg-htmlacademy {
	width: 26.096px;
	height: 33.803px;
}

.svg-menu-burger {
	width: 49.945px;
	height: 24.007px;
	fill: #fff;
}

.svg-menu-cross {
	width: 23.866px;
	height: 23.866px;
}

.svg-microsoft-logo {
	width: 43.922px;
	height: 41.992px;
}

.svg-no {
	width: 26.752px;
	height: 26.752px;
	fill: #f25b26;
}

.svg-quotes {
	width: 78.673px;
	height: 63.788px;
}

.svg-timer-3 {
	width: 298.001px;
	height: 345.097px;
}

.svg-twitter {
	width: 17.5px;
	height: 14.663px;
}

.svg-yes {
	width: 30.375px;
	height: 21.688px;
	fill: #3dc644;
}

.svg-youtube {
	width: 14.64px;
	height: 13.96px;
}

