.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-1 {
    width: 44px;
    height: 65px;
    background-position: -10px -10px;
}

.sprite-2 {
    width: 75px;
    height: 61px;
    background-position: -74px -10px;
}

.sprite-3 {
    width: 78px;
    height: 62px;
    background-position: -74px -91px;
}

.sprite-4 {
    width: 59px;
    height: 72px;
    background-position: -10px -173px;
}

.sprite-5 {
    width: 78px;
    height: 63px;
    background-position: -89px -173px;
}

.sprite-split {
    width: 10px;
    height: 272px;
    background-position: -187px -10px;
}
